body
{
   padding: 0;
   margin-top: 175px;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100hv;
   background: #ececec;
}

.container
{
    width: 70%;
    /* height: 45vh; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 12px 12px 12px #cbced1,
                -12px -12px 20px #ffffff;
}

.display #screen
{
    width: 95%;
    height: 70%;
    font-size: 35px;
    margin-bottom:20px;
    outline: none;
    border: none;
    text-align:right;
    padding-right: .5em;
    background: #eff1f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
}

.btns{
    width: 100%;
    margin-top: top 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.row button{
    width: 100%;
}

.btns .row button
{
    padding: auto;
    width: 120px;
    height: 30px;
    font-size: 16px;
    border:none;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #00000020,
               -5px -5px 8px #ffffff;
               transition: .1s;
}
.btns .row button:hover
{
    box-shadow: inset 5px 5px 8px rgba(16,16,16,.1),
                inset -5px -5px 8px #fff;
                 background: #fff;
}

#eval
{
    background: #33ccff;
    color: #fff;
    box-shadow: inset 5px 5px 8px #66d9ff,
                 inset -5px -5px 8px #00ace6;
}

#eval:hover
{
    box-shadow: inset 5px 5px 8px #00ace6,
                inset -5px -5px 8px #00ace6;
}

#ac
{
    background: #33cc33;
    color: #fff;
}

#ac:hover
{
    box-shadow: inset 5px 5px 8px #2eb82e,
                inset -5px -5px 8px #33cc33;
}

#ce
{
    background: #ff3399;
    color: #fff;
}

#ce:hover
{
    box-shadow: inset 5px 5px 8px #e60073,
                inset -5px -5px 8px #ff3399;
}

/* meadia Quary start */

@media screen and (max-width: 1200px) {
    .btns .row button{
        padding: auto;
        width: 100px;
        height: 30px; 
    }
}
@media screen and (max-width: 990px) {
    .btns .row button{
        padding: auto;
        width: 90px;
        height: 30px; 
    }
}
@media screen and (max-width: 930px) {
    .btns .row button{
        padding: auto;
        width: 60px;
        height: 30px; 
    }
}
@media screen and (max-width: 650px) {
    .btns .row button{
        padding: auto;
        width: 50px;
        height: 30px; 
    }
}
@media screen and (max-width: 560px) {
    .btns .row button{
        padding: auto;
        width: 40px;
        height: 30px; 
    }
}
@media screen and (max-width: 475px) {
    .btns .row button{
        padding: auto;
        width: 30px;
        height: 30px; 
    }
}
@media screen and (max-width: 390px) {
    .btns .row button{
        padding: auto;
        width: 25px;
        height: 30px;
        font-size: 12px;
        margin: 2px;
    }
}

/* meadia Quary end */